<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <!-- <label for="card_number">No KK</label>
        <input type="text" name="card_number" id="card_number">
        <label for="id_number">No NIK</label>
        <input type="text" name="id_number" id="id_number">
        <label for="full_name">Nama Lengkap</label>
        <input type="text" name="full_name" id="full_name">
        <label for="gender">Jenis Kelamin</label>
        <input type="text" name="gender" id="gender">
        <label for="graduate">Pendidikan Terakhir</label>
        <input type="text" name="graduate" id="graduate">
        <label for="passport">No Passport</label>
        <input type="text" name="passport" id="passport">
        <label for="permit">No Permit</label>
        <input type="text" name="permit" id="permit">
        <label for="head_of_family">Nama Kepala Keluarga</label>
        <input type="text" name="head_of_family" id="head_of_family">
        <label for="marriage">Card Number</label>
        <input type="text" name="marriage" id="marriage">
        <label for="status_in_family">Card Number</label>
        <input type="text" name="status_in_family" id="status_in_family"> -->
        {{form}}
    
    </form>
</body>
</html>

