<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
        <button><a href="{% url 'createcitizen' %}">Tambah Data</a></button>
        <table>
            <thead>
                <th>No Kartu KK</th>
                <th>No NIK</th>
                <th>Nama Lengkap</th>
                <th>Jenis Kelamin</th>
                <th>Lulusan</th>
                <th>No Pasport</th>
                <th>No Permit</th>
                <th>Nama Kepala Keluarga</th>
                <th>Status Pernikahan</th>
                <th>Status di Keluarga</th>
                <th>Aksi</th>
            </thead>
            {% for x in data %}
            <tbody>
                <td>{{ x.card_number}} </td>
                <td>{{ x.full_name}} </td>
                <td>{{ x.gender}} </td>
                <td>{{ x.graduate}} </td>
                <td>{{ x.passport}} </td>
                <td>{{ x.permit}} </td>
                <td>{{ x.head_family_name}} </td>
                <td>{{ x.marriage}} </td>
                <td>{{ x.status_in_family}} </td>
                <td>{{ x.created_at}} </td>
                <td>{{ x.updated_at}} </td>
            </tbody>
            {%  endfor  %}
        </table>
    
</body>
</html>

