<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Create</h1>
    <form action="{% url 'createfamilycard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}   
        <label for="card_number">Card Number</label>
        <input type="text" id="card_number" name="card_number"><br>
        <label for="address">Address</label>
        <input type="text" id="address" name="address"><br>
        <label for="neighbourhood_t">RT</label>
        <input type="text" id="neighbourhood_t" name="neighbourhood_t"><br>
        <label for="neighbourhood_w">RW</label>
        <input type="text" id="neighbourhood_w" name="neighbourhood_w"><br>
        <label for="subdistrict">Kelurahan</label>
        <input type="text" id="subdistrict" name="subdistrict"><br>
        <label for="district">Kecamatan</label>
        <input type="text" id="district" name="district"><br>
        <label for="province">Province</label>
        <input type="text" id="province" name="province"><br>
        <label for="postalcode">Postal Code</label>
        <input type="text" id="postalcode" name="postalcode"><br>
        <label for="image">Images</label>
        <input type="file" id="image" name="image"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
