<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <p>{{ data.id }}</p>
    <p>{{ data.card_number }}</p>
    <p>{{ data.address }}</p>
    <p>{{ data.neighbourhood_t }}</p>
    <p>{{ data.neighbourhood_w }}</p>
    <p>{{ data.subdistrict }}</p>
    <p>{{ data.district }}</p>
    <p>{{ data.province }}</p>
    <p>{{ data.postalcode }}</p>
    <p>{{ data.image }}</p>
    <p>{{ data.created_at }}</p>
    <p>{{ data.updated_at }}</p>
</body>
</html>