<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    
    <p>{{ data.card_number }}</p>
    <p>{{ data.address }}</p>
    <p>{{ data.neighbourhood_t }}</p>
    <p>{{ data.neighbourhood_w }}</p>
    <p>{{ data.subdistrict }}</p>
    <p>{{ data.district }}</p>
    <p>{{ data.province }}</p>
    <p>{{ data.postalcode }}</p>
    <p><img src="{{ data.image.url }}" alt="{{ data.image.url }}" style="height:100px; width:100px;"></p>
    <p>{{ data.created_at }}</p>
    <p>{{ data.updated_at }}</p>
    <a href="{% url 'indexfamilycard' %}"><button name="back">BACK</button></a>
</body>
</html>